*{
    padding: 0;
    margin: 0 auto;
}

#contab
{
    width: 70%;
    height: auto;
    margin-top: 60px;
    display: block;

}

#con h2{
    margin-top: 30px;
    margin-bottom: 20px;
}

.table{
    background-color: #F5F5F5;
    width: 100%;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 700px;
}

th, td {
    text-align: left;
    padding: 8px;
    white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
button {
    float: right;
    background: rgb(40, 204, 46);
    margin: 10px;
    color: white;
    padding: 10px;
    border: 0;
}