/*font area*/
@font-face{
	font-family: "Goldoni_DEMO";
	src: url("../Fonts/Goldoni_DEMO.otf");
}

@font-face{
	font-family: "CalamityJaneNF";
	src: url("../Fonts/CalamityJaneNF.ttf");
}	

@font-face{
	font-family: "CalamityJaneNF-Bold";
	src: url("../Fonts/CalamityJaneNF-Bold.ttf");
}

@font-face{
	font-family: "Neon Adventure";
	src: url("../Fonts/CalamityNeon Adventure.otf");
}

@font-face{
	font-family: "Prida02Calt";
	src: url("../Fonts/Prida02Calt.otf");
}
/*          */

*{
	margin: 0;
	padding: 0;
	font-family: "Goldoni_DEMO";
}

a{
	text-decoration: none;
}

.titlefont{
	font-size: 45px;
	margin-top: 30px;
	margin-bottom: 20px;
}

.titlefont1{
	margin-top: 100px;
	font-size: 25px;
	font-family: "Goldoni_DEMO";
}


.containertop{
	margin-top: 10px;
	width: 1020px;
	height: 550px;
	background-color: white;
}



.containercontent{
	width: 320px;
	height: 530px;
	background-color: white;
	float: left;
	margin: 10px;
	display: block;
}

.fonttitleinf{
	margin: 5px 0 0 0;
	font-size: 54px;
	font-family: "Prida02Calt";
}

.trnsformimg{
	-webkit-transform : scale(1);
	transform : scale(1);
	-webkit-transition: .9s scale(1);
	transition: .9s scale(1);
}


.trnsformimg:hover{
	-webkit-transform : scale(1.2);
	transform : scale(1.2);
	-webkit-transition: .15s scale(1.2);
	transition: .15s scale(1.2);
	border: 0.5px solid #aaa;
	border-width: 2px;
	margin-bottom: 30px;
	margin-top: 10px;
}

.fonttitleinf1{
	margin: 5px 0 0 0;
	font-size: 64px;
	font-family: "Prida02Calt";
}

.fonttitleinf2{
	margin: 0 0 0 0;
	font-size: 44px;
	font-family: "Prida02Calt";
}

.imgborder{
	border-radius: 60%;
}

.inf{
	margin-top: 20px;
	font-family: "Segoe UI Light";
}

.idinfo{
	width: 100%;
	height: 100%;
	margin-top: 50px;
}

.idinfo table tr td{
	padding: 5px 0 5px 0;
	font-family: "Segoe UI Light";
}


.marginsos{
	margin-top: 60px;
}

.sos{
	margin: 5px;
}
