.slider{
	width: 100%;
	height: 610px;
	margin: auto;
}
.sliderimg{
	width: 100%;
	height: 610px;
	margin: auto;
}
.animatefading{
	animation: fading 10s infinite;
}
@keyframes fading{
	0% {opacity:0}
	50%{opacity:1}
	100%{opacity:0}
}
.tagcontent{
	position: absolute;
	text-align: center;
	top: 470px;
	height: 20px;
	width: inherit;
	font-size: 18px;
	padding-top: 16px!important;
	padding-bottom: 16px!important;
	color: #fff!important;
	background-color: #000!important;
	padding: 0.01em 16px;
}
.taglogo {
	position: absolute;
	top: 470px;
	height: 100px;
	right: 20px;
}